
<body>
    <div class="container">
        <div class="mail-content">
        <div class="mail-header">
            </div>
            <div class="mail-ctn">
                <h3>Xin chào <%= nameCompany %> </h3>
                <p>Vừa mới có một khách hàng gửi yêu cầu đặt tour <%= nameTour %></p>
                <p><b>Họ và tên:</b> <%= nameCustomer %></p>
                <p><b>ID tour:</b> <%= tour_id %></p>
                <p><b>Email khách hàng:</b> <%= emailCustomer %></p>
                <p><b>Địa chỉ:</b> <%= address %></p>
                <p><b>Số điện thoại:</b> <%= phone %></p>
                <p><b>Yêu cầu:</b> <%= required %></p>
                <br>
                <p>Happy gigging!</p>
            </div>
            <div class="mail-footer">
                <p class="ft-logo">
                  © Travel! 2019
                </p> 
            </div>       
</div>
</div>
</body>
